@import url(principal-componentes/conteiner-carrossel/conteiner-carrossel.css);
@import url(cabecalho-componentes/cabecalho.css);
@import url(banner-componentes/banner.css);
@import url(base/texto-destaque.css);

:root {
    --branco: #FFFFFF;
    --cinza: #EBECEE;
}

body {
    font-size: 16px;
    background: var(--cinza);
    box-sizing: border-box;
}
