@import url(principal-componentes/principal-slide.css);
@import url(cabecalho-componentes/cabecalho.css);
@import url(banner-componentes/banner.css);

:root {
    --branco: #FFFFFF;
    --cinza: #EBECEE;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
    background: var(--cinza);
    box-sizing: border-box;
}
