.topicos__lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.lista__link {
    color: var(--branco);
    text-decoration: none;
}

.lista__link___item {
    margin: .5rem;
    background: var(--laranja);
}

