.segunda-parte__icone-compras {
    width: 28px;
}

.segunda-parte__icone {
    column-gap: 2rem;
    display: flex;
    padding: 1rem 1rem 1rem 0;
}

.segunda-parte__botao___btn {
    color: var(--branco);
    background: #EB9B00;
    border: none;
    font-family: 'Poppins', 'sans-serif';
    font-size: 1rem;
    font-weight: 500;
    padding: .8rem 2.3rem;
    text-decoration: none;
}
