.caixa__texto {
    display: inline-block;
}

.caixa__texto___titulo {
    font-weight: 600;
    font-size: 1.1rem;
    background: var(--azul-gradiente);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.caixa__texto___descricao {
    line-height: 1.5rem;
    margin: 1.2rem 0;
    background: var(--azul-gradiente);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    max-width: 18.7rem;
}
