@import url(menu-secundario-e-interno.css);


.cabecalho__nav-bar___checkbox:checked ~ .cabecalho__nav-bar___menu {
    display: inline-block;
}

.cabecalho__nav-bar___checkbox {
    display: none;
}

.cabecalho__nav-bar___menu {
    background: var(--branco);
    box-shadow: 0 6px 6px 2px rgba(0, 0, 0, 0.3);
    display: none;
    font-family: var(--fonte-principal);
    min-width: 18.7rem;
    position: absolute;
    top: 99%;
    transition-duration: .4s;
    z-index: 1;
}

.nav-bar__menu___categoria {
    color: #EB9B00;
    font-weight: 700;
}

.nav-bar__menu___item {
    padding: 1.2rem;
}

.nav-bar__menu___item a {
    background: var(--azul-gradiente);
    background-clip: text;
    font-weight: 500;
    text-decoration: none;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
