@import url(menu-item.css);

.cabecalho__nav___botao:checked ~ .cabecalho__nav___menu {
    display: inline-block;
}

.cabecalho__nav___botao {
    display: none;
}

.cabecalho__nav___menu {
    background: var(--branco);
    box-shadow: 0 6px 6px 2px rgba(0, 0, 0, 0.3);
    display: none;
    font-family: var(--fonte-principal);
    min-width: 18.7rem;
    position: absolute;
    top: 99%;
    transition-duration: .4s;
    z-index: 1;
}
