@import url(primeira-parte/primeira-parte.css);
@import url(segunda-parte/primeira-parte.css);

.card {
    background: var(--branco);
    border-radius: 10px;
    margin: 1.3em 1.5em;
    padding: 1em;
    box-shadow: 0 4px 5px 2px rgba(0, 0, 0, 0.2);
}
