@import url(../banner-componentes/titulo-descricao-input.css);

.banner {
    background: var(--azul-gradiente);
    opacity: 0.75;
    text-align: center;
    padding: 2rem;
}

.caixa {
    width:80%;
    text-align: center;
    margin: 0 auto;
}
