.caixa__titulo {
    color: var(--branco);
}

.caixa__descricao {
    color: var(--branco);
    font-family: var(--fonte-principal);
    font-weight: 500;
    margin: 1rem 0;
    line-height: 1.4rem;
}

.pesquisa {
    border: 1px solid var(--branco);
    color: var(--branco);
    margin: 0 auto;
    padding: .6rem 4rem;
}

.pesquisa::placeholder {
    background: url(../../image/Vector.png) left no-repeat;
    color: var(--branco);
    font-size: .9rem;
    font-weight: 400;
    padding: .5rem 1.5rem;
    text-align: center;
}
