.caixa__titulo {
    color: var(--branco);
}

.caixa__descricao {
    color: var(--branco);
    font-family: var(--fonte-principal);
    font-weight: 400;
    margin: .8rem 0 1.5rem;
    line-height: 1.4rem;
}

.pesquisa {
    border: 1px solid var(--branco);
    color: var(--branco);
    margin: 0 auto;
}

.pesquisa::placeholder {
    background: url(../../image/Vector.png) left no-repeat;
    color: var(--branco);
    font-size: 1rem;
    font-weight: 400;
    padding: .5rem 2rem;
    text-align: center;
}
