@import url(../cabecalho-componentes/icone.css);

.cabecalho {
    background: var(--branco);
    display: flex;
    justify-content: space-between;
    position: relative;
}

.cabecalho__icone {
    display: flex;
    align-items: center;
}

.cabecalho__icone-navegacao {
    display: flex;
    align-items: center;
}