.menu::before, .favorito::before {
    height: 2rem;
    width: 2rem;
    content: '';
    display: inline-block;
}

.favorito::before {
    height: 2.3rem;
    width: 2.3rem;
}

.menu::before {
    background: url(../../image/Menu.png) center / contain no-repeat;
}

.favorito::before {
    background: url(../../image/Favoritos.svg) center / contain no-repeat;
}

.compras img {
    width: 1.9rem;
}

.usuario img {
    width: 2.2rem;
}

.icone {
    margin: 1rem;

}
