:root {
    --espaçamento-das-imagens: 1rem;
    --margin-top-bottom-das-imagens: .5rem;
    --altura-das-imagens: 307px;
    --largura-das-imagens: 206px;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
    background: #FFFFFF;
    box-sizing: border-box;
}

.secao--carrossel-imagens {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: calc(var(--largura-das-imagens) * 3 + var(--margin-top-bottom-das-imagens) * 4);
    position: relative;
    width: 100vw;
}

.carrossel-imagens {
    overflow: auto;
    height: calc(var(--altura-das-imagens) + var(--margin-top-bottom-das-imagens) * 2);
    width: inherit;
    max-width: inherit;
    background: #EBECEE;
}

.carrossel-imagens::-webkit-scrollbar {
    display: none;
}

.slide {
    align-items: center;
    display: flex;
    column-gap: var(--espaçamento-das-imagens);
    width: calc(var(--largura-das-imagens) * 5 + var(--espaçamento-das-imagens) * 3);
}

#image--atual{
    margin-left: calc(((var(--largura-das-imagens) * -1) + (var(--espaçamento-das-imagens) * -1)) * 0);
}

.image {
    margin-top: var(--margin-top-bottom-das-imagens);
    margin-bottom: var(--margin-top-bottom-das-imagens);
}

.image img {
    width: var(--largura-das-imagens);
    height: var(--altura-das-imagens);
}

#image--atual {
    transition: all .4s;
}

#proximo::before {
    background: url(../image/proximo.png) center / contain;
    right: 2px;
}

#voltar::before {
    background: url(../image/voltar.png) center / contain;
    left: 2px;
}

#proximo::before, #voltar::before {
    border-radius: 50%;
    content: '';
    height: 40px;
    position: absolute;
    top: 50%;
    width: 40px;
}

.bolinhas {
    column-gap: .5rem;
    display: flex;
    margin: 1rem 0;
}

.bolinhas > div {
    background-color: blue;
    border-radius: 50%;
    height: 20px;
    width: 20px;
}
