.bolinhas {
    column-gap: .5rem;
    display: flex;
    margin: 1rem auto;
}

.bolinha {
    background-color: #C4C4C4;
    border-radius: 50%;
    height: 10px;
    width: 10px;
}

.bolinha-marcada {
    background: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
}
