.proximo::before {
    background: url(../../../image/proximo.png) center / contain;
    right: 2px;
}

.voltar::before {
    background: url(../../../image/voltar.png) center / contain;
    left: 2px;
}

.proximo::before, .voltar::before {
    border-radius: 50%;
    content: '';
    height: 40px;
    position: absolute;
    top: 50%;
    width: 40px;
}
