@import url(bolinhas.css);
@import url(botao.css);
@import url(imagens.css);

:root {
    --espaçamento-das-imagens: 1rem;
    --margin-top-bottom-das-imagens: .2rem;
    --altura-das-imagens: 307px;
    --largura-das-imagens: 206px;
}



.principal__titulo {
    background: var(--branco);
    color: #EB9B00;
    display: block;
    padding: 1.5rem 1.5rem 1rem 1.5rem;
    text-align: center;
}

.conteiner-carrossel {
    display: flex;
    flex-direction: column;
    max-width: calc(var(--largura-das-imagens) * 3 + var(--espaçamento-das-imagens) * 2);
    overflow: hidden;
    position: relative;
}

.carrossel-imagens {
    overflow: auto;
    max-width: inherit;
}

.carrossel-imagens::-webkit-scrollbar {
    display: none;
}

.slide {
    align-items: center;
    display: flex;
    column-gap: var(--espaçamento-das-imagens);
    width: calc(var(--largura-das-imagens) * 4 + var(--espaçamento-das-imagens) * 3);
}
