@import url(../../responsivo/responsivo.css);
@import url(bolinhas.css);
@import url(botao.css);
@import url(imagens.css);

:root {
    --espacamento-das-imagens: 1rem;
    --margin-top-bottom-das-imagens: .2rem;
    --altura-das-imagens: 19.2rem;
    --largura-das-imagens: 11.5rem;
}

.principal__conteiner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.conteiner-carrossel {
    display: flex;
    flex-direction: column;
    max-width: calc(var(--largura-das-imagens) * 3 + (var(--espacamento-das-imagens) + var(--espacamento-adicional)) * 2);
    position: relative;
}

.conteiner-carrossel__slide {
    overflow: hidden;
}

.carrossel__slide {
    overflow: auto;
    max-width: inherit;
}

.carrossel__slide::-webkit-scrollbar {
    display: none;
}

.carrossel__slide___imagens {
    align-items: center;
    display: flex;
    column-gap: calc(var(--espacamento-das-imagens) * var(--multiplicador-adicional));
    width: calc(var(--largura-das-imagens) * 4 + var(--espacamento-das-imagens) * 3);
}
